torch==2.4.1
transformers==4.44.2
accelerate==0.34.2
langchain==0.3.4
openai==1.52.0
langchain-openai==0.2.3
langchain-chroma==0.1.4
langchain-experimental==0.3.2
pytubefix==8.1.1
moviepy==1.0.3
tqdm==4.66.5
httpx==0.27.2
gradio==5.25.2
pytube==15.0.0
psycopg2-binary==2.9.10
unstructured==0.16.15
unstructured-inference==0.8.6
unstructured_pytesseract==0.3.13
pdfminer.six==20240706
pi_heif==0.21.0
pdf2image==1.17.0
